
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.titulo {
    background-color: #007bff;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    display: flex;
    background-color: burlywood;
    text-align: center;
    justify-content: space-around;
}

.contenedor-principal {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;

}


.productos {
    flex: 3;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.productos section {
    margin-bottom: 20px;
}

.aside {
    flex: 1;
    background-color: #e3e3e3;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.aside h3 {
    margin-top: 0;
}

footer {
    display: flex;
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    justify-content: space-around;

}
